  <div class="well sidebar-nav">
	<ul class="nav nav-list">
	  <li class="nav-header">Sections</li>
	  <li><a href="{{baseURL}}/authors">Authors</a></li>
	  <li><a href="{{baseURL}}/tags">Tags</a></li>
	  <li class="nav-header">Sidebar</li>
	  <li><a href="#">Link</a></li>
	  <li><a href="#">Link</a></li>
	  <li><a href="#">Link</a></li>
	  <li><a href="#">Link</a></li>
	  <li><a href="#">Link</a></li>
	  <li><a href="#">Link</a></li>
	  <li class="nav-header">Sidebar</li>
	  <li><a href="#">Link</a></li>
	  <li><a href="#">Link</a></li>
	  <li><a href="#">Link</a></li>
	</ul>
  </div><!--/.well -->
